
#clock-face {
    background-image: url(digital-clock-black-white.svg.hi.png);
height: 17rem;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}


.clock {
  color: rgb(238, 0, 255);
  font-size: 60px;
  font-family: "Roboto Mono", monospace;
}

#buttons, #alarm {
  display: flex;
  justify-content: center;
  align-items: center;
}

.time-buttons {
  margin: 1em;
  padding: .5em 1.5em;
  font-family: "Roboto Mono", monospace;
}

#stop-button:hover {
  background-color: red;
}

#start-button:hover {
  background-color: rgb(0, 239, 0);
}

#alarm-label, #alarm-legend {
  font-size: 1em;
  font-family: "Roboto Mono", monospace;
  padding: 1em
}

#setAlarmButton {
  margin: 1em;
  padding: .5em 1.5em;
  font-family: "Roboto Mono", monospace;
  font-size: .8em
}

#alarm-time {
  padding: 5px;
  border: 1px solid gray;
  border-radius: 3px;
  font-size: 16px;
}


